.rootAbout {
    min-height: 100%;
    width: 100%;

    padding: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .headline {
            p {
                color: #ffffff;
                font-family: "Input Mono Normal Extra Light",
                    "Input Mono Normal Extra Light", monospace;
                font-size: var(--fs-l);
                font-weight: 500;
                letter-spacing: 0.1rem;
            }
        }

        .content {
            height: fit-content;
            width: 80%;
            p {
                margin-top: 50px;
                text-align: center;
                font-size: var(--fs-med);
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .rootAbout {
        .inner {
            .content {
                width: 95%;

                p {
                    margin-top: 20px;
                }
            }
        }
    }
}
