.rootContact {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        height: fit-content;
        width: 40%;
        min-width: 650px;

        display: flex;

        .containerLeft {
            width: 60%;
            height: 100%;

            h2 {
                color: #ffffff;
                font-family: "Input Mono Normal Extra Light",
                    "Input Mono Normal Extra Light", monospace;
                line-height: 1.4 !important;
                font-size: var(--fs-l);
                font-weight: bold;
            }

            p {
                color: #ffffff;
                font-family: Barlow, sans-serif;
                line-height: 1.7 !important;
                font-size: var(--fs-med);

                margin: 1em 0;
            }
        }

        .containerRight {
            // background-color: yellow;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 40%;

            .socials {
                width: 55%;
                margin: 15px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                // background-color: green;

                .app {
                    width: 40px;
                    height: 40px;
                    // background-color: red;
                }
                .link {
                    height: fit-content;
                    // background-color: pink;
                    height: fit-content;
                    a {
                        text-decoration: none;

                        span {
                            height: fit-content;
                            font-size: var(--fs-med);
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1720px) {
    .rootContact {
        .container {
            .containerRight {
                .socials {
                    margin: 13px 0;
                    .app {
                        width: 37px;
                        height: 37px;
                    }
                }
            }
        }
    }
}
